h1 {
    text-align: center;
    color: seagreen;
  }

h2 {
    text-align: center;
    color: red;
}
  
.homeImage > img {
    width: 30%;
    border: 5px solid black;
}

.pageNotFound > img {
    width: 25%;
    border: 2px solid red;
}