h1 {
    text-align: center;
    color: seagreen;
    margin-bottom: 5px;
  }

h2 {
    text-align: center;
    color: #56b7c4;
}

.restaurantLink {
    font-size: 1.5em;
    padding: 3px;
    text-decoration: none;
}
  
.homeImage > img {
    width: 100%;
    border: 5px solid black;
}

.pageNotFound > img {
    width: 25%;
    border: 2px solid red;
}

.indexHeader {
    margin-bottom: 30px;
}

.restaurant > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border: 1px solid black;
}

.restaurantName {
    text-align: left;
    color: skyblue;
}

.restuarantLocation {
    text-align: center;
    font-size: 1.1em;
    font-style: italic;
}

.cuisine {
    color: #758165;
    font-size: 1.2em;
    font-weight: bold;
}

.location {
    font-style: italic;
    color: #283C41;
}

nav {
    background-color: #56b7c4;
    padding: 10px;
}

nav ul {
    list-style-type: none;    
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

nav a:hover {
    color: #283C41;
    text-decoration: none;
}

.showImage {
    width: 70%;
    border: 5px solid black;
}

.showMain {
    text-align: center;
}

section.rating {
    margin-top: 50px;
}

.rant {
    color: red;
}

.rave {
    color: green;
}

.commentContent {
    font-style: italic;
}

.commentAuthor {
    font-weight: bold;
}

.comments {
    margin-top: 50px;
}